<script>

  import * as d3 from "d3"
 
  // Size and margins
  const width = 700;
  const height = 400;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const figurewidth= width/3;
  const maxrad=110;


  let coolheat=[];
  fetch("./data/daily_heating_cooling.json")
  .then(res=> res.json())
  .then(data=> coolheat=data)

  $: console.log(coolheat)


let dailycool=[]
$:{
  coolheat.forEach((d)=>{
    if ( !(d.city in dailycool)){
      dailycool[d.city]=[]
    }
    dailycool[d.city].push(d.cooling)
  })
}
$:console.log(dailycool)

    let dailyheat=[]
$:{
  coolheat.forEach((d)=>{
    if ( !(d.city in dailyheat)){
      dailyheat[d.city]=[]
    }
    dailyheat[d.city].push(d.heating)
  })
}
$:console.log(dailyheat)

  $:console.log(d3.extent(coolheat.map((d)=>d.heating)))
  
  $: angular= d3.scaleLinear()
      .domain([0,365])
      .range([0,2*Math.PI])

  $:Radial= d3.scaleLinear()
  .domain(([0,149400.33517977863]))
  .range([0,maxrad])

  let area= (d)=> {
  let area="M";
  d.forEach((heat, index)=> {
  area+= " "+ Radial(heat)*Math.cos(angular(index))+","+ Radial(heat)*Math.sin(angular(index));
      })
      return area;
  }
  
</script>

<svg {width} {height}>
  {#each Object.keys(dailycool) as cool, coolindex}
    <g transform="translate({(figurewidth*coolindex)},0)">
        <text class="city" x= {maxrad-20} y=40> {cool} </text>     
      <g class= "cool" transform= "translate({figurewidth/2},{height/2})">
                  <path d={area(dailycool[cool])}></path>
      </g>
      <g transform= "translate({figurewidth/2},{height/2})">
        <circle class="circle" cx=0 cy=0 r={maxrad}></circle>
        <line x1= {-maxrad} x2={maxrad} y1=0 y2=0 > </line>
        <line x1=0  x2=0 y1={maxrad} y2={-maxrad} > </line>
      </g>

    </g>
  {/each}

      {#each Object.keys(dailycool) as heat, heatindex}
    <g transform="translate({(figurewidth*heatindex)},0)">
               
      <g class= "heat" transform= "translate({figurewidth/2},{height/2})">
                  <path d={area(dailyheat[heat])}></path>
               </g>
  
    </g>
  {/each}
  

</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .cool {
      fill: steelblue; 
  }
  .heat{
      fill: red;
      opacity: 0.7;
  }
  .circle{
    fill: white;
    stroke: black;
    stroke-width: 1; 
    opacity: 0.1;
  }
  line{
    stroke: gray;
    border-radius: 10px;
  }
  .city{
    font:40px;
    stroke:black;
    fill: black;
  
  }
</style>
