<script>
	import * as d3 from "d3";
import { scaleOrdinal } from "d3";

	// Size and margins
	
	const width = 600;
	const height = 600;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
	const nbuilding= height/16
  
	let energy_use=[]
	fetch("./data/hourly_heating_december.json")
	  .then(res=> res.json())
	  .then(data=> energy_use=data)
	
  	$: console.log(energy_use)
	

	let transformed_energy={}
	$:{
		energy_use.forEach((d)=>{
			if ( !(d.city in transformed_energy)){
				transformed_energy[d.city]={}
			}
			if ( !(d.buildingtype in transformed_energy[d.city])){
				transformed_energy[d.city][d.buildingtype]=[]
			}
			transformed_energy[d.city][d.buildingtype].push(d.total_heating_energy)
		})
	};
	$:console.log(transformed_energy)
	let xscale= d3.scaleLinear()
		.domain([0,744])
		.range([margin.left,innerWidth]);

	$: yscale= d3.scaleLinear()
		.domain([0,3800])
		.range([nbuilding,0]);

	let colour= d3.scaleOrdinal(d3.schemeAccent)

	let linewidth= (d)=> {
		let linewidth="M 0," + yscale(0);

		d.forEach((heat, index)=> {
			linewidth+= " "+ xscale(index)+',' + yscale(heat)
		})

		linewidth+=  " " + xscale(744)+ ',' + yscale(0);
		linewidth+=  " " + '0,' + yscale(0);
		return linewidth; 
	}

	$: console.log(d3.extent(energy_use.map((d)=>d.total_heating_energy)))

	let selcity="Baltimore";

	$: console.log(transformed_energy)

  </script>
  
  <svg {width} {height}>
	{#each Object.keys(transformed_energy) as city}
		<g transform="translate({margin.left}, {margin.top})">
			{#each Object.keys(transformed_energy[city]) as building, buildingindex}
				<g transform="translate(0,{((buildingindex+0.5)*nbuilding)-35})"> 
					<path fill= {colour(building)} d={linewidth(transformed_energy[city][building])}></path>
					<text x=5 y= 20> {building} </text>
				</g>
			{/each}
		</g>
	{/each}
  </svg>
 
  <div class='button'>
	  <select id= "Cities" class='form-select' bind:value={selcity}>
		<option value="Baltimore"> Baltimore </option>
		<option value="Chicago"> Chicago</option>
		<option value="Las Vegas"> Los Angeles </option>
		</select>
 </div>
  
  <style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	 
	}
	text{
		stroke: black;
		font-size: 10px;
	}


  </style>
  