<script>
    const favouritethings= [' Music', ' Cycling', ' Cooking', ' Chess'];
    const name= 'Arthur';
    const me = {name, favouritethings};
</script>

<p> My name is {name} and these are some of my favourite things: {favouritethings} </p>