<script>
    let count=0;

    function handleclick(event){ count+= 1;}
    function reset(event){count=0}
</script>

<div>
    <button type="button" class="btn btn-success" on:click={handleclick}> Clicked {count} times

    </button>

    <button type="button" class="btn btn-outline-danger" on:click={reset}> 
        Reset

    </button>

</div>




