
<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  import {scaleLinear, scaleOrdinal} from 'd3-scale'; 
  import {schemeDark2} from 'd3-scale-chromatic';
  
  const scalex=scaleLinear()
    .domain([0,10])
    .range([margin.left,innerWidth]);
  
  const scaley=scaleLinear()
    .domain([0,10])
    .range([margin.top,innerHeight]);

const colorscale= scaleOrdinal(schemeDark2)
  
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as {x, y, category}}
    <circle 
    cx= {scalex(x)} 
    cy={scaley(y)} 
    r=5 
    fill={colorscale(category)}/>
    {/each}
  </g>

  <g transform="translate({margin.left},{margin.top})"> 
    <line 
    x1={scalex(0)} 
    x2={scalex(10)} 
    y1={70} 
    y2={70} 
       /> 
    </g>

    <g transform="translate({margin.left},{margin.top})">
      {#each values as {x,y}} 
      <line 
      x1= {scalex(x)}
      x2={scalex(x)}
      y1={scaley(y)+5}
      y2={70}/>
      {/each}
      </g>

  
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  line{ stroke:black;}
</style>


